{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<center><h1>Clubs Esprit</h1>
<p>ESPRIT est un établissement d'enseignement supérieur privé, agréé par l’Etat, fondé en 2003, à l’initiative d’universitaires rompus à l’enseignement et qui ont voulu relever le défi de créer une école privée dédiée à la formation d’ingénieurs opérationnels, initialement dans les domaines des TIC, répondant aux exigences des entreprises du secteur.
ESPRIT est membre du réseau Honoris United Universities, le premier réseau panafricain d’enseignement supérieur privé engagé à former la nouvelle génération de leaders et de professionnels africains capables d’avoir un impact sur leurs sociétés et leurs économies dans un monde globalisé.
Intelligence collaborative, agilité culturelle et mobilité sont au cœur de la vision d’Honoris en matière d’enseignement supérieur.
Honoris United Universities fusionne les savoirs et l’expertise de ses institutions membres pour développer un capital humain africain de classe mondiale, compétitif sur des marchés de plus en plus numérisés du travail et des start-ups.</p>
<img src={{asset('esprit.jpg')}}>



</center>


{% endblock %}
