


    <h1>Liste des Classes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classes %}
                <tr>
                    <td>{{ class.id }}</td>
                    <td>{{ class.name }}</td>
                    <td>
                        <a href="{{ path('', {'id': class.id}) }}">Modifier</a>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
